= render_flash
= simple_form_for :search, url: users_path, html: { class: 'form-horizontal', method: :get } do |f|
  = content_tag :div, class: 'col-sm-5' do  
    = f.input_field :terms, autofocus: true, value: @terms, placeholder: 'Search Terms...'
  = f.button :submit, 'search', class: 'btn btn-primary'
%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th Username
      %th Status
      %th Admin
  %tbody
    - @users.each do |u|
      %tr
        %td= u.name
        %td= u.email
        %td= u.username
        %td= u.status
        %td= u.is_admin
= paginate @users, params: { search: params[:search] }, theme: 'twitter-bootstrap-3'
