= render_flash
= simple_form_for @user, html: { class: 'center form-horizontal well col-lg-5' }, wrapper: :hows_horizontal do |f|
  %legend User Signup
  = f.input :username, autofocus: true
  = f.input :name
  = f.input :email
  = f.input :password
  = f.input :password_confirmation, label: 'Confirmation'
  %div.col-lg-offset-1
    = f.button :submit, 'Sign up', class: 'btn btn-primary'
    = link_to 'Already have an account, go back to Login', login_path, class: 'btn btn-success'
