.row
  .col-sm-8
    = f.input :name, autofocus: true
  .col-sm-4
    = f.input :cost, label: 'Cost(Kg)'
.row
  .col-sm-8
    = f.input :batch_no
  .col-sm-4 
    = f.input :status, collection: ['using', 'pending', 'cancel', 'finished'], include_blank: false
.row
  .col-sm-12
    = f.input :note, input_html: { rows: 4 }