.row
  .col-sm-8
    = f.input :name, autofocus: true
  .col-sm-4
    = f.input :cost, label: "Cost(#{current_user.weight_unit})", input_html: { type: :text }
.row
  .col-sm-4 
    = f.input :status, collection: ['using', 'pending', 'cancel', 'finished'], include_blank: false
  .col-sm-8
    = f.input :note, input_html: { rows: 3 }