#scrollable_ingredients{style: "display:none;"}
  .scrollable-big
    %table#select_ingredients.lcf-select-table.table.table-striped
      %thead
        %tr
          %th.col-sm-4 Name
          %th.col-sm-3= "Cost(#{current_user.weight_unit})"
          %th.col-sm-3 Status
          %th.col-sm-2 Category
      %tbody
        - current_user.ingredients.order(:name).each do |i|
          %tr
            %td
              = check_box_tag "selected", i.id, false, data: { name: i.name, cost: i.cost }
              = i.name
            %td= number_with_precision i.cost, precision: 4
            %td= i.status
            %td= i.category
  = link_to "Done", "#", id: "done_selecting_ingredients", class: 'btn btn-success'
  = link_to "Cancel", "#", id: "cancel_selecting_ingredients", class: 'btn btn-danger'

