= render_flash
= simple_form_for @ingredient, html: { class: 'col-sm-5' } do |f|
  %legend New Ingredient
  = render 'fields', f: f
  = f.button :submit, 'Save', class: 'btn btn-primary'
  = link_to 'Back to Index', ingredients_path, class: 'btn btn-info'
