= render_flash

.jumbotron
  .container
    %h2
      %strong 
        Welcome.
    %p 
      %span
        %strong
          Least Cost Feed(LCF) 
      is a web-based application that helps Livestock Farmer, Nutritionist or anyone who like to optain the cheapest Diet for their Livestock or pets. It uses GNU Linear Programming Kit(GLPK) at the back end to find the least cost solutions for the nutrition specifications that the user provide.
    %p
      I have a day job and I am running this web-app as a hobby of my. Hoping that Least Cost Feed can help people interested in livestock, animal or pets diet to produce cheaper and better feeds or products.
    %p
      %span
        %strong
          I am running the site for free and on a very tight budget. Please forgive me there are bugs or less pretty user interface, do send me emails, if you have any comments or suggestions. Thank You.
    %p
      If you like the site please share with your friends.
    %p
      = link_to 'Facebook', "https://www.facebook.com/sharer.php?s=100&p%5Burl%5D=http%3A%2F%2Fleastcostfeed.com"
      = link_to "Twitter", "https://twitter.com/home?status=Find%20the%20cheapest%20livestock%20feed%20with%20http://leastcostfeed.com"
      = link_to "Google", "https://plus.google.com/share?url=Find%20the%20cheapest%20livestock%20feed%20with%20http://leastcostfeed.com"

.container
  .row
    .col-sm-3
      %h2 Ingredient
      %p An ingredient is a substance that forms part of a formula (in a general sense). For example, in cooking, recipes specify which ingredients are used to prepare a specific dish.
    .col-sm-3
      %h2 Nutrient
      %p Nutrients are the nutritious components in foods that an organism utilizes to survive and grow.
    .col-sm-3
      %h2 Formula
      %p Formula is the mixture of ingredients that form a diet for animals.
    .col-sm-3
      %h2 Specification
      %p Specification is the nutrients content of a formula.

  %hr
    %footer
      %strong
        The MIT License (MIT)
      %p Copyright (c) 2014 Tan Kwang How
      %p
        Permission is hereby granted, free of charge, to any person obtaining a copy
        of this software and associated documentation files (the "Software"), to deal
        in the Software without restriction, including without limitation the rights
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
        copies of the Software, and to permit persons to whom the Software is
        furnished to do so, subject to the following conditions:
      %p
        The above copyright notice and this permission notice shall be included in
        all copies or substantial portions of the Software.
      %p
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
        THE SOFTWARE.

      %p= mail_to 'leastcostfeed@gmail.com'
