.col-sm-3
  = f.input :name, autofocus: true
.col-sm-1
  = f.input :batch_size, label: "Batch (#{current_user.weight_unit})", input_html: { type: :text }
.col-sm-1
  = f.input :cost, label: "#{current_user.weight_unit} Cost", input_html: { readOnly: true, type: :text }
.col-sm-1
  = f.input :prev_cost, label: "Previous", input_html: { readOnly: true, type: :text, class: :numeric }
.col-sm-1
  = f.input :savings, label: f.object.savings > 0 ? "Extra" : "Savings", input_html: { readOnly: true, type: :text, class: :numeric }
.col-sm-2
  = f.input :usage_per_day, label: "Daily Usage(#{current_user.weight_unit})", input_html: { type: :text, class: :numeric }
.col-sm-3
  = f.input :note, input_html: { rows: 1 }
