%tr.fields.ingredient{style: hide_if_destroyed(f.object)}
  = f.hidden_field :ingredient_id, class: 'ingredient_id'
  = f.hidden_field :_destroy, class: 'destroy'
  %td.col-xs-4.check-text-box
    = f.check_box :use
    = f.input_field :ingredient_name, readOnly: true, tabIndex: -1
  %td= f.input_field :ingredient_cost, type: :text, class: :numeric
  %td= f.input_field :min_perc, type: :text, class: :numeric
  %td= f.input_field :max_perc, type: :text, class: :numeric
  %td= f.input_field :actual_perc, type: :text, class: :numeric, readOnly: true, tabIndex: -1
  %td= f.input_field :weight, type: :text, class: :numeric, readOnly: true, tabIndex: -1
  %td= f.input_field :shadow, type: :text, class: :numeric, readOnly: true, tabIndex: -1
