%tr.fields.ingredient{ style: f.object._destroy ? "display:none;" : "" }
  = f.hidden_field :ingredient_id, class: 'ingredient_id'
  = f.hidden_field :_destroy, class: 'destroy'
  %td.col-sm-4.check-text-box
    = f.check_box :use
    = f.input_field :ingredient_name, disabled: true
  %td= f.input_field :ingredient_cost, type: :text, class: :numeric
  %td= f.input_field :min_perc, type: :text, class: :numeric
  %td= f.input_field :max_perc, type: :text, class: :numeric
  %td= f.input_field :actual_perc, readOnly: true, type: :text, class: :numeric
  %td= f.input_field :weight, readOnly: true, type: :text, class: :numeric
  %td= f.input_field :shadow, readOnly: true, type: :text, class: :numeric