= render_flash
= simple_nested_form_for @formula do |f|
  %legend= "Edit Formula #{"Logged at " + params[:logged_at] if params[:logged_at]}"
  = render 'fields', f: f
  .col-sm-12
    = f.button :submit, 'Calculate', class: 'btn btn-info'
    = f.button :submit, 'Save Changes', class: 'btn btn-primary'
    = link_to 'Cancel Changes', edit_formula_path(@formula), class: 'btn btn-warning'
    = link_to 'Back to Index', formulas_path, class: 'btn btn-info'
    - if !@formula.changed?
      = link_to 'Print', formula_path(@formula, format: :pdf), target: "_blank", class: 'btn btn-info'
      = link_to 'Log', formulas_log_path(id: @formula.id), class: 'btn btn-info', method: :post
      - if Premix.find(@formula.id).premix_ingredients.count > 0
        = link_to 'Edit Premix', edit_premix_path(@formula.id), class: 'btn btn-info'
      - else
        = link_to 'Create Premix', new_premix_path(id: @formula.id), class: 'btn btn-info'
  = render 'formula_ingredients', f: f
  = render 'formula_nutrients', f: f
= render 'nutrients/select_nutrients'
= render 'ingredients/select_ingredients'
.col-sm-12
  .panel.panel-default
    .panel-heading
      %strong Formula Logged Histories
    .panel-body
      - @formula.formula_ingredients_histories.map { |t| t.logged_at }.uniq.each do |k|
        .col-sm-3{ style: "padding-bottom: 3px; padding-top: 3px;"}
          = k
          = link_to "Set", formulas_set_history_path(id: @formula.id, logged_at: k), class: 'btn btn-warning'
          = link_to "X", formulas_delete_history_path(id: @formula.id, logged_at: k), method: :delete, data: { confirm: 'Are You Sure!' }, class: 'btn btn-danger'
