= render_flash
= simple_form_for :search, url: formulas_path, html: { class: 'form-horizontal', method: :get } do |f|
  = content_tag :div, class: 'col-sm-5' do
    = f.input_field :terms, autofocus: true, value: @terms, placeholder: 'Search Terms...'
  = f.button :submit, 'Search', class: 'btn btn-primary'
  = link_to "New Formula", new_formula_path, class: 'btn btn-success'
  = link_to "Ingredient Usage", ingredient_usages_path, class: 'btn btn-warning'
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th.right-align
        = "Batch Size(#{current_user.weight_unit})"
      %th.right-align
        = "Cost(#{current_user.weight_unit})"
      %th.right-align.col-lg-1
        = "Usage Daily(#{current_user.weight_unit})"
      %th Changed Date
      %th
  %tbody
    - @formulas.each do |f|
      %tr
        %td= link_to f.name, edit_formula_path(f.id)
        %td.numeric= number_with_precision f.batch_size, precision: 4
        %td.numeric= number_with_precision f.cost, precision: 4
        %td.form-group= text_field_tag :usage_per_day, f.usage_per_day, class: "formula_usage_per_day form-control numeric", id: "#{f.id}_usage_per_day", name: "#{f.id}_usage_per_day"
        %td= f.updated_at.in_time_zone(current_user.time_zone).to_s(:long)
        %td
          = link_to "Print", formula_path(f, format: :pdf), target: '_blank', class: 'btn btn-info'
          = link_to "Print Premix", premix_path(f, format: :pdf), target: '_blank', class: 'btn btn-info'
          = link_to "Delete", f, method: :delete, data: { confirm: 'Are You Sure!' }, class: 'btn btn-danger'
          = link_to "Copy", copy_create_path(id: f.id, klass: f.class), method: :post, class: 'btn btn-success'
= paginate @formulas, params: { search: params[:search] }, theme: 'twitter-bootstrap-3'
